<head>
    {% if site.tags != "" %}
      {% include tags.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% if page.title %}
    	{% assign local_title = page.title %}
    	{% assign local_content_name = 'article' %}
    {% else %}
        {% assign local_title = site.title %}
        {% assign local_content_name = 'website' %}
    {% endif %}
    {% if page.excerpt %}
        {% assign local_description = page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 50 %}
    {% else %}
        {% assign local_description = site.description %}
    {% endif %}
    <title>{{ local_title | escape }}</title>
    
    <meta property="og:site_name" content="{{ site.title }}" >
    <meta property="og:title" content="{{ local_title }}" >
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:description" content="{{ local_description }}">
    <meta property="og:type" content="{{ local_content_name }}" >
    
    {% if page.url %}
        <meta property="og:url" content="{{ page.url | absolute_url }}" >
    {% endif %}
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" >
        <meta property="article:author" content="{{ site.url }}" >
    {% endif %}
    {% if page.tags %}
        {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}" >
        {% endfor %}
    {% endif %}

    <link rel="shortcut icon" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/fonts_from_medium.css' | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    
    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title"   content="{{ local_title }}">      
    <meta name="twitter:description" content="{{ local_description }}">
    {% if page.image %}
        <meta name="twitter:card"  content="summary_large_image">
        {% assign local_image_url = page.image | absolute_url %}
    {% elsif page.thumbnail %}
        <meta name="twitter:card"  content="summary_large_image">
        {% assign local_image_url = page.thumbnail | absolute_url %}
    {% else %}
        <meta name="twitter:card"  content="summary">
        {% assign local_image_url = site.title_image | absolute_url %}
    {% endif %}
    <meta name="twitter:image" content="{{ local_image_url }}">
    <meta property="og:image" content="{{ local_image_url }}" />
    <!-- end of Twitter cards -->
    
    <script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "CreativeWork",
        "author: "{{ site.author }}",
        "headline": "{{ local_title }}",
        "description": "{{ local_description }}",
        "thumbnailUrl": "{{ local_image_url }}",
        "image": "{{ local_image_url }}"
    }
    </script>

    <!-- tell the browsers that we have a web feed -->
    <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | relative_url }}">

    <!-- For Latex -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script>
    <!-- TODO: -->
    </script>

    <!-- For Facebook share button -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


</head>
